.header {
  display: flex;
  height: 120px;

  background-color: #00979d;

  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 3px;
  line-height: 18px;

  .header__logo {
    display: inline-block;
    height: 100%;
    width: 120px;
  }

  .header__menu-content {
    display: flex;
    align-items: flex-end;
    flex-direction: column-reverse;
    justify-content: space-between;
    width: 100%;
  }

  .header__menu {
    width: 560px;
    padding-right: 120px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }

  .header__controls {
    margin-right: 15px;
  }
}