<footer class="footer">
    <div class="footer__left">
        <ul class="footer__links footer-links">
            <li class="footer-links__item">
                <a href="/">
                    <span class="footer-links__text">copyright notice</span>
                </a>
            </li>
            <li class="footer-links__item">
                <a href="/">
                    <span class="footer-links__text">contact us</span>
                </a>
            </li>
            <li class="footer-links__item">
                <a href="/">
                    <span class="footer-links__text">about us</span>
                </a>
            </li>
            <li class="footer-links__item">
                <a href="/">
                    <span class="footer-links__text">cookies</span>
                </a>
            </li>
        </ul>
        <p class="footer__copyright">© 2018 KittenTeach</p>
    </div>

    <div class="footer__center">
        <form class="footer__form subscribe-form" action="">
            <label for="footer-subscribe-input" class="subscribe-form__label">newsletter</label>
            <div class="subscribe-form__row">
                <input id="footer-subscribe-input" class="footer__input subscribe-form__input" type="text"
                       placeholder="enter your email to subscribe">
                <button class="footer__btn footer__btn--primary subscribe-form__btn" type="button">
                    Subscribe
                </button>
            </div>
        </form>
    </div>

    <div class="footer__right">
        <button class="footer__btn footer__btn--icon footer-go-top">
            <span class="footer-go-top__arrow footer-go-top__arrow--left"></span>
            <span class="footer-go-top__arrow footer-go-top__arrow--right"></span>
            <span class="footer-go-top__arrow footer-go-top__arrow--center"></span>
        </button>
        <div class="footer__socials socials">
            <ul class="socials__list">
                <li class="socials__item">
                    GitHub
                </li>
            </ul>
        </div>
    </div>
</footer>