{% load staticfiles %}

<header class="header">
    <div class="header__logo">
        {# TODO CUT LOGO #}
        <a href="/"><img src="{% static '/core/img/main-logo-full.svg' %}"></a>
    </div>
    <nav class="header__menu-content">
        <ul class="header__menu header-menu">
            <li class="header-menu__btn"><a href="/"><span class="header-menu__text">home</span></a></li>
            <li class="header-menu__btn"><a href="/"><span class="header-menu__text">schools</span></a></li>
            <li class="header-menu__btn"><a href="/"><span class="header-menu__text">teachers</span></a></li>
            <li class="header-menu__btn"><a href="/"><span class="header-menu__text">subjects</span></a></li>
        </ul>
        <div class="header__controls header-controls">
            <div id="quick-search" class="header-controls__search header-search">
                <div class="header-search__image">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28">
                        <path fill="#FFF"
                              d="M22.458 21.926l-4.906-4.954a7.13 7.13 0 0 0 1.464-4.351c.144-3.876-3.015-7.034-6.891-7.034-3.732 0-6.891 3.158-6.891 7.034s3.158 7.034 6.891 7.034a6.782 6.782 0 0 0 4.443-1.637l4.87 4.917 1.02-1.009zM7.635 12.622C7.635 10.015 9.649 8 12.138 8c2.607 0 4.622 2.015 4.622 4.622s-2.015 4.622-4.622 4.622-4.503-2.015-4.503-4.622z"/>
                        <path fill="#FFF" d="M15.894 18.013l1.643-1.643 5.846 5.846-1.643 1.643z"/>
                    </svg>
                </div>
                <input class="header-search__input" type="text" placeholder="search">
            </div>
            <div class="header-controls__btn header-controls__btn--margin">
                <a href="/login"><span class="header-controls__text">sign in</span></a>
            </div>
        </div>
    </nav>
</header>