{% load staticfiles %}

<header class="header">
    <div class="header__logo">
        <a href="/"><img src="http://via.placeholder.com/120x120"></a>
    </div>
    <nav class="header__menu-wrapper">
        <ul class="header__menu header-menu">
            <li class="header-menu__item"><a href="/"><span class="header-menu__text">home</span></a></li>
            <li class="header-menu__item"><a href="/dashboard"><span class="header-menu__text">dashboard</span></a></li>
            <li class="header-menu__item"><a href="/"><span class="header-menu__text">teachers</span></a></li>
            <li class="header-menu__item"><a href="/"><span class="header-menu__text">subjects</span></a></li>
        </ul>
    </nav>
    <a href="/login">sign in</a>
</header>