{% load staticfiles %}
{% load core_extras %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="title" content="{{ title }}">

    <title>{{ title }}</title>

    <script src="{% static '/core/js/lib/jquery.min.js' %}"></script>
</head>


<body>
<!-- recreating csrf_token -->
<form style="display: none;">{% csrf_token %}</form>

<script type="text/javascript">
    window.initJsScript = "{{ init_js_script }}";
</script>

{% if show_header %}
    {% include "core/partials/header.html" %}
{% endif %}

{% block content %}
{% endblock %}

{% if show_footer %}
    {% include "core/partials/footer.html" %}
{% endif %}

<!-- js files -->
<script>
    window.csrf = {
        headerName: "{{ csrf_header_name }}",
        cookieName: "{{ csrf_cookie_name }}"
    };
</script>

{% for link in client_js %}
    <script src="{% static link %}{% timecache %}"></script>
{% endfor %}
<!-- -------- -->

</body>
</html>