{% load staticfiles %}
{% load core_extras %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="title" content="{{ title }}">

    <title>{{ title }}</title>

    <script src="{% static '/core/js/lib/jquery.min.js' %}"></script>

    <!-- stylesheet -->
    {% for link in client_css %}
        <link rel="stylesheet" type="text/css" href="{% static link %}{% timecache %}" />
    {% endfor %}

    {% if client_less %}
        {% for link in client_less %}
            <link rel="stylesheet/less" type="text/css" href="{% static link %}{% timecache %}"/>
        {% endfor %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js" type="text/javascript"></script>
    {% endif %}
</head>


<body>
<!-- recreating csrf_token -->
<form style="display: none;">{% csrf_token %}</form>

<script type="text/javascript">
    window.initJsScript = "{{ init_js_script }}";
    window.csrf = {
        headerName: "{{ csrf_header_name }}",
        cookieName: "{{ csrf_cookie_name }}",
        tokenName: "{{ csrf_token_name }}"
    };
</script>

{% if show_header %}
    {% include "core/partials/header.html" %}
{% endif %}

{% block content %}
{% endblock %}

{% if show_footer %}
    {% include "core/partials/footer.html" %}
{% endif %}

<!-- js files -->
{% for link in client_js %}
    <script src="{% static link %}{% timecache %}"></script>
{% endfor %}
<!-- -------- -->

</body>
</html>