.registration {

  .registration__form-wrapper {
    width: 300px;
    margin: 0 auto;
  }

  .registration__form {

  }

  .registration__row {
    input {
      width: 100%;
    }

    button {
      width: 100%;
    }
  }

  .registration__row--center {
    text-align: center;
  }
}