.account__body {
  overflow: hidden;
  padding-bottom: 50px;

  .schedule {
    width: 100% !important;
    margin-left: 20% !important;

    span {
      color: #765D46 !important;
    }

    li {
      list-style: none;
    }
  }

  .task-ground {

    .task-list {
      > p {
        color: #765D46 !important;
      }

      p {
        margin: 0;
      }
      ul {
        overflow: hidden;
        padding: 0;
      }
      .task-list-item {
        width: 13.5% !important;
        border: 1px solid #ebeae8 !important;
        padding: 5px !important;
        text-align: center !important;
        margin-top: 16px;

        &:hover {
          box-shadow: 5px 5px 9px 0 #4443431A !important;
        }

        p {
          text-align: center;
        }
        h3 {
          margin-top: 5px;
          margin-left: 0;
          font-size: 15px;
        }

        li {
          list-style: none;
        }
      }
    }

  }
}
