.subjects {
  margin-bottom: 80px;

  .subjects__list {

  }

  .subjects__empty-list {

  }

  .subjects__search {

  }

  .subjects__btn {
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    letter-spacing: 3px;

    color: white;
    background-color: #00979d;
    border-radius: 3px;

    padding: 5px;
    width: 200px;
    height: 55px;

    border: none;

    &.subjects__btn--center {
      margin: 30px auto 130px;
    }
  }
}

.subjects-list {
  display: block;

  text-align: left;
  padding: 0;
  margin: 0;
  width: 100%;

  .subjects-list__item {
    list-style: none;
    margin: 20px 0;

    &:hover {

    }
  }
}

.subjects-list-item {
  background-color: #FFFFFF;

  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;

  overflow: hidden;

  &:hover {
    a {
      .darken-image:before {
        background-image: none;
      }
    }

    .subjects-list-item__text-container {
      transition: .3s;
      height: 105%;
      padding-left: 35px;
      padding-right: 35px;
      left: 0;

      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }

  .subjects-list-item__text-container {
    transition: .3s;
    position: absolute;
    //left: 25px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;

    padding: 10px;
    background-color: #c73131;
  }

  .subjects-list-item__text {
    font-weight: 300;
    color: #FFFFFF;
  }

  .subjects-list-item__image {
    height: 145px;

    background-repeat: repeat;
    background-size: 500px;
  }

  a {
    position: relative;
    color: black;
    display: block;
    text-decoration: none;
  }
}

.subjects-empty-list {
  color: #737373;
  text-align: center;

  .subjects-empty-list__title {
    font-size: 115px;
    font-weight: 400;
    line-height: 115px;
    letter-spacing: 20px;

    margin: 50px 0 40px;
  }

  .subjects-empty-list__description {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 3px;

    margin-bottom: 10px;
  }
}

.subjects-search {
  margin: 30px 0;
  padding: 12px 0;

  .subjects-search__title {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 2px;
    color: #797979;
  }

  .subjects-search__input {
    display: block;
    font-size: 16px;

    padding: 6px 8px;
    width: 100%;
    height: 36px;

    border: 1px solid #C7C7C7;
    border-radius: 3px;

    outline: none;
  }
}