.teachers {

  &.teachers--popular {
    margin: 40px 0 50px 0;
    padding-bottom: 15px;
  }

  .teachers__list {

  }

  .teachers__title-block {
    margin-bottom: 20px;
  }
}

.teachers-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;

  .teachers-list__item {
    display: flex;
    flex-direction: column;

    list-style: none;

    width: 32%;
    margin: 7px 0;

    a {
      display: inline-flex;
      flex-direction: column;
      justify-content: space-between;

      width: 100%;
    }
  }
}

.teachers-list-item {
  background-color: #FFFFFF;
  border: 1px solid #e6e6e6a1;
  border-radius: 3px;

  .teachers-list-item__content {
    padding: 25px 0;

    img {
      height: 150px;
    }
  }

  .teachers-list-item__description {
    background-color: #ECF1F169;
    padding: 10px;
    //height: 100%;
  }

  a {
    text-decoration: none;

    &:hover {
      box-shadow: 5px 5px 9px 0 #4443431A;
      
      .teachers-list-item__description {
        //color: #ce3f3fe0;
      }
    }
  }
}

.teachers-title-block {
  background-color: #ecf1f1;
  height: 50px;

  .teachers-title-block__text {
    display: inline-block;
    line-height: 50px;
    font-weight: 300;

    padding: 0 20px;
    height: 100%;

    background-color: #00979d;
    color: #FFFFFF;
  }

  &.teachers-title-block--primary {
    .teachers-title-block__text {
      background-color: #ce3f3fe0;
    }

  }
  //#ab4949

  //#496dab
}