.temp {
  &.temp__row {
    &.temp__row--pb25 {
      padding-bottom: 25px;
    }

    &.temp__row--center {
      margin: 0 auto;
    }
  }



  &.temp__main-image {
    display: inline-block;
    max-height: 625px;
  }

  &.temp__home-block {
    width: 100%;
    line-height: 0;

    &.temp__home-block--main {
      text-align: center;
      background-color: #DFF4F6;
    }
  }

  &.temp__home-btn {
    display: inline-block;

    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;

    color: #FFFFFF;
    background-color: #607980;

    cursor: pointer;
    outline: none;

    &.temp__home-btn--main {
      width: 200px;
      height: 55px;

      border: none;
      border-radius: 3px;
      background-color: #39484C;
    }
  }

  a {
    &.temp__home-btn {
      text-decoration: none;

      &.temp__home-btn--main {
        line-height: 55px;
      }
    }
  }

  &.temp__home-mini-block {

  }

  &.temp__home-title {
    width: 85%;
    max-width: 600px;
    margin: 0 auto 20px;
    padding-top: 50px;
    font-weight: 500;

    color: #607980;
    text-align: center;
    line-height: normal;
  }

  &.temp__home-promo {
    background-color: #F2F1F0;
  }
}